.text-center
{
  text-align: center;
  background-color: blueviolet;
  width: 208vh;
  
}
.flex
{
  display:flex;
}
.flex-col
{
  flex-direction: column;
}
.items-center
{
  align-items: center;
}
.mx-auto
{
  margin: auto;
}
.container
{
  background-color: aquamarine;
  height: 75vh;
  width:80vh;
}